= link_to root_path, class: 'btn btn-primary mr-2', title: 'Home' do
  .fas.fa-home.text-white-50
= link_to posts_path, class: 'btn btn-primary mr-2', title: 'Work Log' do
  .fas.fa-clipboard-list.text-white-50
= link_to training_logs_path, class: 'btn btn-primary mr-2', title: 'Learning Log' do
  .far.fa-lightbulb.text-white-50
= link_to resources_path, class: 'btn btn-primary mr-2', title: 'Resources' do
  .fas.fa-book-open.text-white-50
= link_to projects_path, class: 'btn btn-primary mr-2', title: 'Projects' do
  .fas.fa-paint-brush.text-white-50