.container-fluid
  .sign-out
    = link_to 'Sign out', destroy_user_session_path, method: :delete
  .bg-container
    %h1 Emily's Site
    .widgets_container
      = link_to posts_path do
        .dashboard_link
          .fas.fa-clipboard-list.mr-2
          Work Log
      = link_to training_logs_path do
        .dashboard_link
          .far.fa-lightbulb.mr-2
          Learning Log
      = link_to resources_path do
        .dashboard_link
          .fas.fa-book-open.mr-2
          Resources
      = link_to projects_path do
        .dashboard_link
          .fas.fa-paint-brush.mr-2
          Projects