.container
  %h1 Learning Log
  .multi-button-container
    = link_to root_path, class: 'btn btn-primary' do
      %i.fas.fa-home.text-white-50.mr-1
  
    - if can?(:manage, TrainingLog)
      = link_to new_training_log_path, class: 'btn btn-primary' do
        %i.fas.fa-plus.text-white-50.mr-1
        New learning log entry
  %table.table-bordered.table-responsive.mt-5
    %thead
      %tr
        %th Date
        %th Title
        %th Description
        %th Skills
        %th Links
        %th
    %tbody
      - @training_logs.reverse.each do |log|
        %tr
          %td= log.date.strftime('%d %b %Y')
          %td{width: '15%'}= log.title
          %td{width: '40%'}= markdown(log.description)
          %td.p-0{width: '20%'}= markdown(log.skills)
          %td= markdown(log.links)
          %td{width: '10%'}
            - if can?(:manage, TrainingLog)
              = link_to edit_training_log_path(log) do
                .fas.fa-edit
              = link_to training_log_path(log), method: :delete, data: {confirm: 'Are you sure?'} do
                .fas.fa-trash.ml-4
  